@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-6">
        <h3 class="secretWord"> The Secret Word</h3>

        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="New Secret Word">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Add</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    </div>
